/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

html, body{
    height: 90%;
    margin: 2rem;
}

ag-grid-angular{
    height: 90%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root{
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;

    mat-slider {
        margin-top: 2rem;
    }
}
